@import '/src/Sass/variables.scss';


.button {
    background-color: #fff;
    border: 1px solid $primary;
    color: $primary;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
        background-color: $primary;
        color: #fff;
    }

}