.footer {
    background-color: #ff4d4dd7;
    width: 100%;
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
    box-sizing: border-box;
    color: #eeeeee;

    @media (max-width: 750px) {
        grid-template-columns: 1fr;

    }

    &__social {
        display: flex;
        gap: 10px;
    }
}

.line {
    border-right: 1px solid #eeeeee;
    padding-right: 40px;
    margin-right: 20px;

    @media (max-width: 750px) {
        border-right: none;

    }

}